<div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
      <label class="container-label" for="myActivitiesTable">Stuff To Do</label>
      <div class="list-container" id="myActivitiesTable">
        <table class="table table-striped">
	  <col width="45%">
	  <col width="45%">
	  <col width="10%">
	  <tr><th>Activity</th><th>Park</th><th>View</th></tr>
	  <tr><td><span class="glyphicon glyphicon-glass"></span>After Party</td><td>Franklin Park</td><td><a href="#"><span class="glyphicon glyphicon-file" aria-hidden="true"></span></a></td></tr>
	</table>
      </div>
      </div>
      <div class="col-md-4">
       <label class="container-label" for="twitterFeed">News Feed</label>
       <div class="list-container" id="twitterFeed">
        <a class="twitter-timeline" data-theme="light" data-height="500" data-link-color="#ff6600" href="https://twitter.com/metparkstacoma"></a> 
	<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
       </div>
      </div>
    </div>
  </div>

