<div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
      <label class="container-label" for="parksTable">Parks</label>
      <div class="list-container" id="parksTable">
        <table class="table table-striped">
	  <col width="33%">
	  <col width="33%">
	  <col width="33%">
	  <tr><th>Park</th><th>Location</th><th>Activities</th></tr>
	</table>
      </div>
      </div>
      <div class="col-md-4">
       <label class="container-label">Parks Tool</label>
       <div class="list-container">
        Some Cool Tool
       </div>
      </div>
    </div>
  </div>
